.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchbar-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  width: 80%;
  margin: 1rem auto;
}
.results > p {
  font-size: 1.75rem;
}

form {
  width: 80%;
  margin: 3rem auto;
}

.input-tag {
  width: 80%;
  margin: 0rem auto;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.2rem;
  outline: none;
  border: none;
  caret: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.input-tag::placeholder {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: hack;
}

li {
  list-style: none;
  border: 2px dashed green;
}

.info {
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.username {
  font-size: 1.5rem;
  grid-row: 2 / 3;
}
.engage {
  grid-row: 3 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  grid-row: 4 / 5;
}
.userfollower,
.userfollowing,
.location {
  font-size: 1.25rem;
}
